*{
	font-size: xx-large;
}

body {
    display:flex;
    justify-content: center;
}
#formulario {
    box-shadow: lightgray 0px 1px 10px 1px;
    border-radius: 10px;
    width: 800px;
    padding: 100px;
}

h1 {
    text-align: center;
}

p{
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

input[type="checkbox"] {
    margin: 20px;
    width: 30px;
    height: 30px;
}

form label {
    font-size: 50;
}

form input[type="submit"] {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 6px;
    border-color: gray;
}

form input[type="submit"]:hover, input[type="submit"]:active{
	cursor: pointer;
}